#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */

}

div {
  margin-left: 0;
  margin-right: 0;
}

div.mirror {
  /* -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1); */
  padding-top: 10px;
  width: 100%;
  filter: FlipV;
  -ms-filter: 'FlipV';

}

.left {
  will-change: filter;
  float: left;
  margin-left: 20px;
  padding-top: 5px;
}

.right {
  will-change: filter;

  margin-left: 0%;
  font-size: 200%;
}

.table1 {
  width: 100%;
  /* Ширина */
  margin: auto;
  box-sizing: border-box;
  /* Для IE и Opera */
  font-size: 10px;
  text-align: left;

}

.table2 { 
  width: 960px; /* Ширина */    
  margin: auto;
  will-change: filter;
  box-sizing: border-box; /* Для IE и Opera */
  font-size: 30px;
  text-align: center;
}

.left:hover {
  filter: drop-shadow(0 0 2em #00cb91d3);
}

.right:hover {
  filter: drop-shadow(0 0 2em #00cb91d3);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 1em #00a6cbd3);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #00cb91d3);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.allPage {
  width: 960px;
  /* Ширина */
  margin: auto;
  box-sizing: border-box;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

input.apple-switch {
  position: relative;
  -webkit-appearance: none;
  outline: none;
  width: 50px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #D9DADC;
  border-radius: 50px;
  box-shadow: inset -20px 0 0 0 #fff;
}

input.apple-switch:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  background: transparent;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

input.apple-switch:checked {
  box-shadow: inset 20px 0 0 0 #4ed164;
  border-color: #4ed164;
}

input.apple-switch:checked:after {
  left: 20px;
  box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05);
}